[submodule "plugins/pelican-fretboard"]
	path = plugins/pelican-fretboard
	url = https://github.com/morganp/pelican-fretboard
[submodule "content/amba-explorer"]
	path = content/amba-explorer
	url = https://github.com/morganp/amba-explorer.git
