[submodule "plugins/pelican-fretboard"]
	path = plugins/pelican-fretboard
	url = https://github.com/morganp/pelican-fretboard
[submodule "content/amba-explorer"]
	path = content/amba-explorer
	url = https://github.com/morganp/amba-explorer.git
[submodule "content/wavedrom-editor"]
	path = content/wavedrom-editor
	url = https://github.com/morganp/wavedrom-editor.git
	branch = dist
[submodule "content/openscad-gui"]
	path = content/openscad-gui
	url = https://github.com/morganp/OpenSCAD-GUI.git
[submodule "content/fretdrom-editor"]
	path = content/fretdrom-editor
	url = https://github.com/morganp/fretdrom.git
	branch = dist
